#cmp-report_management {
    .report-list {
        .item {
            // border-bottom: 1px solid #eaeaea;
            cursor: pointer;
            font-size: 16px;

            &:nth-child(even) {
                background: #f9f9f9;
            }
            
            td {
                padding: 10px;
            }
            
            &:hover {
                background: #f3f3f3;
            }
        }

        .item-active {
            background: rgb(51, 122, 183) !important;
            color: rgb(255, 255, 255);
        }

        .col-name {
            padding: 0;
        }
        
        table {
            margin-bottom: 0;            
        }

        li:first-child td {
            border: none;
        }
    }

    .form-box {
        background: rgb(248, 248, 248);
        padding: 2px 0 10px;

        .form-header {
            border-bottom: 1px solid rgb(231, 231, 231);
            padding-bottom: 10px;

            .report_type {
                color: rgb(51, 122, 183);
                float: right;
            }
        }
        
        .form-hr {
            border-color: rgb(212, 212, 212);
            clear: both;
            margin: 14px 15px;
        }
    }

    .ui-growl {
        bottom: 0;
        top: auto;
    }
}